<launch>

  <!-- Willow Garage Launch -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
  
  <!-- Rviz  -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find my_2d_nav)/rviz/single_robot.rviz"/>
  
  <!-- launch amcl -->
  <include file="$(find my_2d_nav)/launch/amcl_demo.launch"/>

  <!-- include Move Base-->
  <include file="$(find my_2d_nav)/launch/start_move_base.launch"/>

	<!-- include Coverage Node Publisher-->
	<!-- include file="$(find my_2d_nav)/launch/coverage_node.launch"/-->

</launch>
