<launch>

  <!-- Willow Garage Launch -->
  <include file="$(find my_2d_nav)/launch/turtlebot_world2.launch"/>
  
	<!-- Rviz  -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find my_2d_nav)/rviz/multi_robot.rviz"/>
  
  <!-- launch nav file -->
  <include file="$(find my_2d_nav)/launch/nav_file.launch"/>

  <!-- include the coverage merger -->
  <include file="$(find my_2d_nav)/launch/coverage_merger.launch"/>

	<!-- include Coverage Node Publisher-->
	<!--include file="$(find my_2d_nav)/launch/coverage_node.launch"/-->

</launch>
