<launch>
  <!--Willow Garage Launch -->
  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>
  <!-- Rviz for CRSM -->
  <node name="rviz" type="rviz" pkg="rviz" args="-d $(find my_2d_nav)/rviz/single_robot.rviz"/>
  <!-- include Crsm_simulation_launch -->
  
  <!--include file="/home/mastertsoutsos/catkin_ws/src/crsm-slam-ros-pkg/crsm_slam/launch/crsm_slam_simulation.launch" /-->
  <!-- Include Gmapping -->

  <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>

  <!-- include Move Base-->
  <include file="$(find my_2d_nav)/launch/start_move_base.launch"/>
</launch>
