xacro==1.11.3 
turtlebot3-teleop==1.2.0 
tf==1.11.9
tf2-geometry-msgs==0.5.20
tf2-ros==0.5.20
rviz==1.12.16
scipy==1.2.1
pluginlib==1.11.3
gazebo-plugins==2.5.18
gazebo-ros==2.5.18
numpy==1.21.0
actionlib==1.11.13
rospkg==1.1.7
